/* better contrast orange color: #db3a26 */

/*   MOBILE    MOBILE   MOBILE   */

* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}
#about[tabindex='-1']:focus {
  outline: 0;
}
a:hover,
a:focus {
  background: black;
  color: #e2574c;
  padding: 7px 10px;
}
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.screen-reader-text:focus {
  clip: auto !important;
  display: block;
  height: auto;
  left: 5px;
  top: 5px;
  width: auto;
  z-index: 10; /* above all content */
}
.counter {
  display: block;
  position: absolute;
  background: #e2574c;
  color: #fff;
  font-size: 0.8rem;
  font-family: 'Raleway-Med', sans-serif;
  padding: 0.45rem 0.5rem;
  border-radius: 50%;
  z-index: 1;
  text-align: center;
  right: 0.5rem;
  top: 0.8rem;
}
.counter:hover {
  background: #b64036;
}
.site-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.aloha-logo {
  width: auto;
  height: 50px;
  order: 1;
  margin: 1rem;
}
.cart-logo {
  width: 50px;
  height: 50px;
  order: 2;
  margin: 1rem;
}
.main-navigation {
  border-top: 1px solid #d7d7d7;
  order: 3;
  text-align: center;
  width: 100%;
}
.main-navigation ul {
  display: flex;
  flex-flow: row wrap;
  font-family: 'Raleway-Med', sans-serif;
  list-style: none;
}
.main-navigation a {
  color: #e2574c;
  text-decoration: none;
  font-size: 1rem;
  padding: 1rem;
}
.links-spacing {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding: 1rem;
}
li a:hover {
  color: #b64036;
}

/*     BANNER - mobile   */
.banner-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0.25)),
    url('../images/banner-girl.png') no-repeat center,
    url('../images/flower-bkgd.jpg') repeat center;
  background-size: cover, contain;
  background-position: center, center 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 121px;
  height: 400px;
  width: 100vw;
}
.banner-text {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 2px 2px 3px #636363;
  max-width: 80%;
}
h4 {
  font-family: 'Raleway-Med', sans-serif;
  font-size: 1rem;
  color: white;
  margin-bottom: 1rem;
  font-weight: 400;
}
.season {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-family: 'PlayfairDisplay';
  font-size: 2.5rem;
  color: white;
  font-weight: 400;
}

/* - mobile */
.title {
  font-family: 'PlayfairDisplay-Bold';
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
  margin-top: 0;
}
.wave {
  text-shadow: 2px 2px 3px #636363;
}
span {
  font-family: 'PlayfairDisplay-Italic';
  font-style: italic;
  font-weight: 100;
}
article p,
.container p {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 1.15rem;
  line-height: 2;
  margin-bottom: 1.5rem;
  max-width: 600px;
  margin: auto;
}
.container {
  margin: auto;
  margin-bottom: 1rem;
  padding: 3rem 1rem;
}

/*    PRODUCTS - MOBILE    */
.products {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
}
.category {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50vw;
  border-bottom: 4px solid white;
  border-top: 4px solid white;
}

.category:first-child,
.category:last-child {
  width: 100%;
  border-bottom: 4px solid white;
  border-top: 4px solid white;
}
.category:nth-of-type(2),
.category:nth-of-type(4) {
  border-right: 4px solid white;
}
.category:nth-of-type(3),
.category:nth-of-type(5) {
  border-left: 4px solid white;
}

.products a {
  font-family: 'Raleway-Med';
  color: white;
  text-shadow: 2px 2px 3px #636363;
  font-size: 1.8rem;
  text-decoration: none;
  text-align: center;
}
.products a:hover {
  color: bisque;
}
.cmens {
  background: linear-gradient(rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0.25)),
    url('../images/mens-category.jpg') no-repeat center;
  background-size: cover;
}
.ctrends {
  background: linear-gradient(rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0.25)),
    url('../images/trends-category.jpg') no-repeat 50%;
  background-size: cover;
}
.cglasses {
  background: linear-gradient(rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0.25)),
    url('../images/glasses-category.jpg') no-repeat 50%;
  background-size: cover;
}
.csale {
  background: linear-gradient(rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0.25)),
    url('../images/sale-category.jpg') no-repeat 50%;
  background-size: cover;
}
.cbags {
  background: linear-gradient(rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0.25)),
    url('../images/bags-category.jpg') no-repeat center;
  background-size: cover;
}
.cwomens {
  background: linear-gradient(rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0.25)),
    url('../images/womens-category.jpg') no-repeat center;
  background-size: cover;
}

/*    CAROUSEL - mobile  */
.carousel {
  text-align: center;
}
.carousel-container {
  margin: 2rem 1rem;
  padding-top: 3rem;
  padding-bottom: 4rem;
}
.main-carousel .carousel-cell {
  width: 100%;
  padding: 2rem 2rem;
}
img {
  max-width: 100%;
  height: auto;
}
h2 {
  font-family: 'PlayfairDisplay';
  color: #e2574c;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
}
.product-type,
.price {
  color: #969696;
}
.product-type {
  font-family: 'Raleway-med', sans-serif;
  font-size: 0.75rem;
  margin-bottom: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}
.price {
  text-align: center;
  font-family: 'Raleway-med', sans-serif;
  font-size: 1rem;
}
.shop {
  margin-top: 1.5rem;
  color: white;
  background-color: #000000;
  border-radius: 25px;
  padding: 0.5rem 0.8rem;
  font-size: 0.75rem;
  font-family: 'Raleway-med', sans-serif;
  border: 0;
}
.shop:hover {
  background-color: #b64036;
}

/*     SUBSCRIBE - mobile    */
.wave-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.1) 0, rgba(0, 0, 0, 0.1)),
    url('../images/wave-bkgd.jpg') no-repeat center bottom;
  height: 330px;
  background-position: center, center 98%;
  margin-bottom: 0.6rem;
}
.subscribe-form {
  margin: auto;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  position: relative;
}
.subscribe {
  padding: 0.9rem 1.5rem;
  border-radius: 25px;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  border: 0;
  width: 100%;
}
.button {
  color: white;
  background-color: #e2574c;
  border-radius: 25px;
  padding: 9px 20px;
  font-size: 1em;
  font-family: 'Raleway-med', sans-serif;
  border: 0;
  position: absolute;
  right: 4px;
}
.button:hover {
  background-color: #b64036;
}

/*     FOOTER - mobile     */
.footer {
  background-color: #242424;
  color: white;
  font-family: 'PlayfairDisplay';
  padding: 3rem 0;
  margin: auto;
  text-align: center;
}
footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 0 2rem;
}
.footer p {
  font-family: 'PlayfairDisplay';
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 0;
}
.contact a:link {
  color: white;
}
.contact a:hover {
  color: #b64036;
}
.contact {
  margin-bottom: 1rem;
}
.copyright {
  margin-bottom: 1rem;
}
.address {
  padding: 0;
  color: #969696;
  margin-bottom: 2.5rem;
}

.social li {
  display: inline-block;
}
.social a {
  color: white;
}
.social ul li:hover {
  color: #b64036;
}
.social i {
  width: 30px;
  height: 30px;
}
.social-text {
  display: none;
}

.sticky {
  background-color: rgba(255, 255, 255, 0.85);
  border-bottom: 1px solid #d7d7d7;
  position: fixed;
  margin: auto;
  height: auto;
  top: 0;
  width: 100%;
  z-index: 10;
}

/*   TABLET   TABLET    TABLET   */
@media only screen and (min-width: 600px) {
  html {
    font-size: 16px;
  }
  .site-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .aloha-logo {
    margin-right: 0;
    order: 1;
  }
  .cart-logo {
    margin-left: 0;
    order: 3;
  }
  .main-navigation {
    font-family: 'Raleway-Med', sans-serif;
    border-top: 0;
    order: 2;
  }
  .main-navigation a {
    font-size: 0.9rem;
  }

  /*     BANNER - tablet    */
  .banner-bg {
    background-position: top, center 50px;
    margin-top: 82px;
  }
  .banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h4 {
    font-size: 1.25rem;
  }
  .season {
    font-size: 3rem;
  }
  /*    - tablet  */
  article p,
  .container p {
    max-width: 675px;
    /* margin: auto; */
  }
  .container {
    padding: 4rem 1rem;
    max-width: 720px;
    margin: auto;
  }

  /*  PRODUCTS - tablet   */
  .products a {
    font-size: 2em;
  }
  .category {
    width: 25%;
    height: 25vw;
    border: 4px solid white;
  }
  .category:first-child,
  .category:last-child {
    width: 50%;
  }
  .category:first-child,
  .category:nth-of-type(4) {
    border-left: 0;
  }
  .category:nth-of-type(3),
  .category:last-child {
    border-right: 0;
  }

  .main-carousel .carousel-cell {
    width: 50%;
  }
  .carousel {
    text-align: center;
  }

  /*     SUBSCRIBE - tablet      */
  .wave-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.2)),
      url('../images/wave-bkgd.jpg') no-repeat center bottom;
    height: 350px;
  }
  .subscribe-form {
    max-width: 450px;
  }
  .subscribe {
    padding: 0.9rem 1.75rem;
  }
  .button {
    padding: 0.65rem 1.5rem;
    position: absolute;
    right: 3.5px;
  }

  /*     FOOTER - tablet   */
  footer .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    max-width: 1100px;
  }
  .footer p {
    text-align: left;
    margin: 0;
  }
  .copyright {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .social ul li {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .social a {
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    display: flex;
    font-size: 1rem;
  }
  .social i {
    width: 40px;
    height: 30px;
    padding-right: 4px;
  }
  .social-text {
    display: block;
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-style: normal;
  }
  li:hover .social-text {
    color: #b64036;
  }
}

/*  DESKTOP   DESKTOP   DESKTOP    */
@media only screen and (min-width: 1240px) {
  .container {
    max-width: 1240px;
  }
  .site-header {
    width: 1240px;
    margin: auto;
    padding: 0 1rem;
  }
  .aloha-logo {
    width: auto;
    height: 62px;
  }
  .cart-logo {
    width: 62px;
    height: 62px;
  }
  .main-navigation a {
    font-size: 1rem;
    width: 100%;
  }

  /*     BANNER - desktop    */
  .banner-bg {
    background-position: center, center 60px;
    background-size: contain, 20%;
    margin-top: 95px;
    height: 34.38rem;
  }
  .season {
    font-size: 4rem;
  }

  /*  - desktop  */
  .container {
    padding: 4rem 2rem;
    align-items: center;
    max-width: 1240px;
    margin: auto;
  }

  .main-carousel .carousel-cell {
    width: 25%;
  }
  .carousel-container {
    max-width: 1240px;
    margin: auto;
  }

  /*     FOOTER - desktop   */
  footer .container {
    padding: 0 2rem;
    max-width: 1240px;
  }
  .footer p {
    line-height: 1.5;
  }
  .social {
    padding-right: 2.5rem;
  }
  .social ul li {
    line-height: 1.2;
  }
  .social i {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    padding-right: 1rem;
  }
  /* stick-nav */
  .header {
    margin: auto;
    width: 100%;
  }
  .counter {
    display: block;
    position: absolute;
    background: #e2574c;
    color: #fff;
    font-size: 0.8rem;
    font-family: 'Raleway-Med', sans-serif;
    padding: 0.4rem 0.5rem;
    border-radius: 25px;
    z-index: 1;
    text-align: center;
    right: 1.5rem;
    top: 1rem;
  }
}
